<header>
  <div class="logo">
    <a href="{{ '/' | absolute_url }}">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Logo">
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="{{ '/' | absolute_url }}">Home</a></li>
      <li><a href="{{ '/about/' | absolute_url }}">Chi siamo</a></li>
      <li><a href="{{ '/contact/' | absolute_url }}">Contatti</a></li>
    </ul>
  </nav>
  <div class="social-icons">
    <a href="https://twitter.com/tuoaccount" target="_blank">Twitter</a>
    <a href="https://facebook.com/tuoaccount" target="_blank">Facebook</a>
  </div>
</header>
